{
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended", "plugin:vue/recommended", "plugin:cypress/recommended"],
  "plugins": ["cypress", "prettier"],
  "rules": {
    "vue/html-self-closing": 0,
    "vue/max-attributes-per-line": 0,
    "vue/html-indent": ["error", 4, {
      "attribute": 1,
      "baseIndent": 1,
      "alignAttributesVertically": false
    }],
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "consistent-return": "off",
    "no-unused-vars": "off",
    "no-shadow": "off",
    "no-else-return": "off",
    "prefer-const": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "func-names": "off",
    "no-unreachable": "off",
    "default-case": "off",
    "object-shorthand": "off",
    "no-alert": "off",
    "yoda": "off",
    "import/no-useless-path-segments": "off",
    "import/newline-after-import": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default-member": "off",
    "import/no-mutable-exports": "off",
    "import/named": "off",
    "import/no-cycle": "off",
    "import/extensions": "off",
    "no-undef-init": "off",
    "block-scoped-var": "off",
    "no-nested-ternary": "off",
    "no-new-func": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-continue": "off",
    "strict": "off",
    "no-loop-func": "off",
    "no-dupe-keys": "off",
    "no-new": "off",
    "no-multi-assign": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "no-var": "off",
    "no-void": "off",
    "camelcase": "off",
    "no-func-assign": "off",
    "prefer-object-spread": "off",
    "no-self-compare": "off",
    "no-unsafe-finally": "off",
    "symbol-description": "off",
    "no-throw-literal": "off",
    "no-script-url": "off",
    "getter-return": "off",
    "new-cap": "off",
    "no-unused-expressions": "off",
    "array-callback-return": "off",
    "no-restricted-globals": "off",
    "no-empty": "off",
    "no-undef": "off",
    "no-return-await": "off",
    "no-return-assign": "off",
    "no-prototype-builtins": "off",
    "no-sequences": "off",
    "no-unused-labels": "off",
    "no-labels": "off",
    "valid-typeof": "off",

    "prefer-destructuring": "off",
    "no-plusplus": "off",
    "no-useless-escape": "off",
    "radix": "off",
    "no-restricted-syntax": "off",
    "no-extra-boolean-cast": "off",
    "no-await-in-loop": "off",
    "guard-for-in": "off",
    "no-useless-catch": "off",
    "no-proto": "off",
    "vars-on-top": "off",
    "no-restricted-properties": "off",
    "no-cond-assign": "off",
    "no-fallthrough": "off",
    "prefer-promise-reject-errors": "off",
    "vue/require-render-return": "off",
    "vue/v-on-style": "off",
    "vue/return-in-computed-property": "off",
    "vue/no-v-html": "off",
    "vue/valid-template-root": "off",
    "vue/attribute-hyphenation": "off",
    "vue/order-in-components": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/singleline-html-element-content-newline": "off",
    "no-underscore-dangle": "off",
    "vue/require-default-prop": "off",
    "vue/require-prop-types": "off",
    "vue/v-bind-style": "off",
    "vue/multiline-html-element-content-newline": "off",
    "vue/no-unused-components": "off",
    "vue/valid-v-for": "off",
    "vue/this-in-template": "off",
    "vue/require-prop-type-constructor": "off",
    "vue/require-v-for-key": "off"
  },
  "globals": {
    "describe": "readonly",
    "expect": "readonly",
    "it": "readonly",
    "jest": "readonly",
    "beforeEach": "readonly",
    "Event": "readonly",
    "window": "readonly",
    "afterEach": "readonly",
    "navigator": "readonly",
    "afterAll": "readonly",
    "beforeAll": "readonly",
    "MouseEvent": "readonly",
    "spyOn": "readonly",
    "document": "readonly",
    "location": "readonly",
    "alert": "readonly",
    "require": "readonly",
    "isFinite": "readonly"
  }
}
